{{> header}}

<h1>{{viewTitle}}</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each list}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.description}}</td>
        <td>
            <a href="/brand/{{this._id}}">Edit</a>
            <a href="/brand/delete/{{this._id}}"
            onclick="return confirm('Esta seguro de que desea eliminar el registro?');">Delete</a>
        </td> 
      </tr>
    {{/each}}
  </tbody>
</table>